- breadcrumb :new_editorial_request, @section

%h1
  #{@section.name}

%p
  #{@section.summary}

%p
  Current owners of this section are:

  %ul
    - owners.each do |owner|
      %li #{owner.full_name} (#{owner.email})


.fieldset
  = simple_form_for @form, url: editorial_section_requests_path(@section) do |f|
    = f.text_area :message, required: false, placeholder: 'Optional'
    = f.submit 'Request membership', role: 'button'
