- breadcrumb :editorial_request, @rqst

%h1 #{requestor.full_name} wants to join #{rqst.section_name}

- if current_user.in?(@owners)
  %p
    Granting access will allow #{rqst.user.first_name} to submit new documents
    or make changes to existing pages within the topic.

  %p
    Any new pages or changes will require acceptance by the topic owner before
    beinng published.

-unless rqst.message.blank?
  %blockquote
    %p
      #{rqst.message}


%h2 Owners
%ul
  - owners.each do |owner|
    %li #{owner.full_name}

-if current_user.in?(@owners)
  - if rqst.open?
    = simple_form_for @rqst, url: editorial_section_request_path(@section, @rqst) do |f|
      =f.input :state, input_html: {value: 'approved'}, as: :hidden
      =f.submit 'Approve membership'
#{rqst.actioned_status}

=link_to 'Back to topic', public_node_path(@rqst.section.home_node)
