%ul.breadcrumbs
  - @node.ancestors.reverse.each do |parent|
    %li
      %a{href: node_path(parent)}= parent.name

%p= "#{@node.id} - #{@node.name}"
%p= @node.source_url
%p
  = raw node_html(node)

%ul
  - @node.children.each do |node|
    %li
      %a{href: node_path(node)}= node.name
