%ul.breadcrumbs
  - @node.ancestors.reverse.each do |parent|
    %li
      %a{href: node_path(parent)}= parent.name

%p= "#{@node.id} - #{@node.name}"
%p= @node.source_url
%p
  = raw node_html(@node)


.technobabble
  %hr
    %table
      %tr
        %th Source
        %td= @node.name
      %tr
        %th Path
        %td= @node.path
      %tr
        %th JSON
        %td= @node.to_json
