- topic_data = STATIC_DATA[:department_topics][node.slug]
- if topic_data.present?
  %h2 Information and services
  %p
    = topic_data.blurb
  %ul.list-vertical--thirds.no-border
    - topic_data.topics.each do |topic|
      %li
        %figure{ style: 'height: 100px' }
          = image_tag topic.image, alt: topic.name
        %article
          %h3
            - if topic.respond_to? :url
              = link_to(topic.name, topic.url)
            - else
              %span.placeholder-link= topic.name
  %p
    - our_role = node.children.find {|n| n.slug == 'our-role' }
    - if our_role.present?
      = link_to 'All information and services', public_node_path(our_role, anchor: 'information-and-services')
