= content_for :title do
  =node.name

- breadcrumb :public_news_article, node

%h1
  =node.name

= render partial: 'templates/abstract', locals: {node: node}

%ul.announcement-info
  - if node.release_date
    %li
      %span
        Date published
      #{l(node.release_date, format: :news)}
  %li
    %span
      Published by
    - node.publishers.each do |publisher|
      = link_to(publisher.name, public_node_path(publisher.home_node))
  %li
    = render partial: 'templates/related_sections', locals: {node: node}

!= node.rendered[:content_body].content

-#%div.list-horizontal
  = render partial: 'templates/related_sections', locals: {node: node}
