= content_for :title do
  =node.name

- breadcrumb :public_news_article, node

%h1
  =node.name

= render partial: 'templates/abstract', locals: {node: node}

%ul.announcement-info
  - if node.release_date
    %li
      %span
        Date published
      #{l(node.release_date, format: :news)}
  %li
    %span
      Published by
    %a= link_to(node.section.name, section_news_articles_path(section: @section.home_node.slug))
  %li
    = render partial: 'templates/related_sections', locals: {node: node}

!= node.rendered[:content_body].content

-#%div.list-horizontal
  = render partial: 'templates/related_sections', locals: {node: node}
