- breadcrumb :public_node, node
.content-main.home
  %section.home-category-list
    %h2 Information and services

    %ul.list-vertical--thirds
      - @categories.each do |category|
        %li
          %article
            %h3
              = link_to(category.name, category.path || 'javascript:void(0)')
            %p
              = category.summary

  %section.about-australia
    %h2.home-heading About Australia
    .population
      %h3 Population (as at December 2015)
      %ul
        %li.population-infographic 23,924,836
        %li.population-statistic <strong>99,604 </strong>more females <br>than males

    .public-holiday
      %h3 Next public holiday
      .next-holiday
        %a{href: '/times-and-dates/australian-public-holidays'}
          .calendar
            %span.event-title Christmas Day
            %time(datetime='2016-12-25') Friday <span>25</span> December

  %a.see-more More about Australia

  %section.home-news-list
    %h2.home-heading News
    %p Government announcements, media releases, interviews, speeches and more.
    - if @news.empty?
      %p No current news articles
    %ul.list-vertical--fourths
      - @news.all.each do |news|
        %li
          %article
            %h3= link_to news.name, public_node_path(news)
            .meta= news.release_date
    =link_to 'All news', news_articles_path, :class => "see-more"

  %section.about-government
    %h2.home-heading About the Australian Government
    %ul
      %li
        %a{href: '/departments'}
          %span= @departments.count
          Departments
      %li
        %a{href: '/agencies'}
          %span= @agencies.count
          Agencies
      %li
        %a{href: '/ministers'}
          %span= @ministers.count
          Ministers
