- breadcrumb :public_node, node

.home

  %h2 Information and services

  %ul.list-vertical--thirds.home
    - @categories.each do |category|
      %li
        %article
          %h3
            = link_to(category.name, category.path || 'javascript:void(0)')
          %p
            = category.summary

  %h2.home-heading About Australia

  %section.about-australia
    .population
      %h3 Population
      %figure
        = image_tag 'home/map.png', alt: 'Map of Australia displaying population of 29,924,836'
        = image_tag 'home/more-females.png', alt: '99,604 more females than males in Australia'

    .public-holiday
      %h3 Upcoming public holiday
      %figure
        = image_tag 'home/calendar.png', alt: 'Friday December 25'


  %h2.home-heading
    =link_to 'News', news_articles_path
  - if @news.empty?
    %p No current news articles
  %ul.list-vertical--fourths
    - @news.all.each do |news|
      %li
        %article
          %h3= link_to news.name, public_node_path(news)
          .meta= news.release_date

  %section.bottom-section
    .govt
      %h2.home-heading About Government
      %ul
        %li
          %a{href: '/departments'}
            %span= @departments.count
            Departments
        %li
          %a{href: '/agencies'}
            %span= @agencies.count
            Agencies
        %li
          %a{href: '/ministers'}
            %span= @ministers.count
            Ministers
