- breadcrumb :edit_editorial_node, @node

%h1
  Edit #{@form.model.name} metadata

= simple_form_for [:editorial, @form], as: :node, url: editorial_section_node_path(@form.model.section, @form.model)  do |f|
  = f.input :parent_id, collection: @section.nodes.order(:name), include_blank: true, required: false, selected: @form.parent_id
  - unless @form.children.empty?
    %fieldset
      %legend
        Child menu order
      = f.fields_for :children do |child|
        = child.input :order_num, label: "#{child.object.name}", as: :integer
  = render partial: 'options_form', locals: {f: f}
  = f.button :button, 'Edit metadata'
