- breadcrumb :prepare_editorial_nodes, @section, @parent

%h1
  Create a new page #{@prompt}

.fieldset
  = simple_form_for [:editorial, @form], as: :node, url: new_editorial_section_node_path(@section), method: :get do |f|
    = label_tag :type, 'Page type'
    = select_tag(:type, options_for_select(@node_types))
    = hidden_field_tag :parent_id, @parent.id if @parent.present?
    = f.submit 'New page', role: 'button'
