- breadcrumb :prepare_editorial_nodes, @section, @parent

%h2
  Create a new page #{@prompt}

.fieldset
  = simple_form_for [:editorial, @form], as: :node, url: new_editorial_node_path, method: :get do |f|
    = label_tag :type, 'Page type'
    = select_tag(:type, options_for_select(@node_types))
    = f.hidden_field :parent_id, name: :parent
    = f.hidden_field :section_id, name: :section
    = f.submit 'New page', role: 'button'
