- breadcrumb :editorial_collaborators, @section

%h1
  Collaborators

-if @pending.present?
  There are pending membership requests:
  %ul
    - @pending.each do |p|
      %li
        =link_to "#{p.user.decorate.full_name} (#{p.user.email})", editorial_section_request_path(@section, p)

%table.content-table
  %thead
    %tr
      %th Full name
      %th Email
      %th Roles
  %tbody
    - users.each do |user|
      %tr
        %td #{user.full_name}
        %td #{user.email}
        %td
          = user.roles_for(@section).join ', '
