%h2
  Collaborators

%p
  %nav.breadcrumbs
    %ul
      %li
        = link_to 'Editorial', :editorial_root
      %li
        = link_to(@section.name, editorial_section_path(section: @section))
      %li
        Collaborators

-if @pending.present?
  There are pending membership requests:
  %ul
    - @pending.each do |p|
      %li
        =link_to "#{p.user.decorate.full_name} (#{p.user.email})", editorial_request_path(p)

%table.table-alternating
  %thead
    %tr
      %th Full name
      %th Email
      %th Roles
  %tbody
    - @collaborators.each do |user|
      %tr
        %td #{user.full_name}
        %td #{user.email}
        %td
          = user.roles_for(@section).join ', '