%h2
  #{@section.name}

%p
  = link_to 'Editorial', :editorial_root
  \:: #{@section.name}

%h3
  Pages

%p
  =link_to 'Add_page', new_editorial_node_path(section: @section.id)

%p
  -if @filter != 'submissions'
    =link_to 'Submissions', editorial_section_path(@section, filter: 'submissions')
  -else
    Submissions

  -if @filter != 'my_pages'
    =link_to 'My pages', editorial_section_path(@section, filter: 'my_pages')
  -else
    My pages

  -if @filter != nil
    =link_to 'All content', editorial_section_path(@section)
  -else
    All pages


%table{border: 1, cellpadding: 10}
  %thead
    %tr
      %td Title
      %td Type
      %td Status
      %td Author(s)
  %tbody
    - @section.nodes.order(updated_at: :desc).each do |page|
      %tr
        %td
          =link_to "#{page.name}", editorial_node_path(page.id)
        %td #{page.type}
        %td #{page.state}
        %td Author

