%h2
  #{@section.name}

%p
  %nav.breadcrumbs
    %ul
      %li
        = link_to 'Editorial', :editorial_root
      %li
        #{@section.name}

%h3 Pages

%p= link_to 'Add_page', prepare_editorial_nodes_path(section: @section.id)

%table.table-alternating
  %thead
    %tr
      %td Title
      %td Type
      %td Status
      %td Author(s)
      %td Action
  %tbody
    - @section.nodes.order(updated_at: :desc).each do |page|
      %tr
        %td
          =link_to "#{page.name}", editorial_node_path(page.id)
        %td #{page.type}
        %td #{page.state}
        %td Author
        - if can? :manage, page
          %td= link_to 'Edit', new_editorial_node_submission_path(page.id)
        - else
          %td -
