%h2
  #{@section.name}

%p
  %nav.breadcrumbs
    %ul
      %li
        = link_to 'Editorial', :editorial_root
      %li
        #{@section.name}

%h3 Pages

%p= link_to 'Add_page', prepare_editorial_nodes_path(section: @section.id)

%ul.accordion-tabs-minimal
  %li.tab-header-and-content
    - if @filter != 'submissions'
      = link_to 'Submissions', '?filter=submissions', class: 'tab-link'
    - else
      = link_to 'Submission', '#', class: 'tab-link is-active'

  %li.tab-header-and-content
    - if @filter != 'my_pages'
      = link_to 'My pages', '?filter=my_pages', class: 'tab-link'
    - else
      = link_to 'My pages', '#', class: 'tab-link is-active'

  %li.tab-header-and-content
    - if @filter != nil
      = link_to 'All content', editorial_section_path(@section), class: 'tab-link'
    - else
      = link_to 'All content', '#', class: 'tab-link is-active'


%table.tables
  %thead
    %tr
      %th Title
      %th Type
      %th Status
      %th Author(s)
  %tbody
    - @section.nodes.order(updated_at: :desc).each do |page|
      %tr
        %td
          =link_to "#{page.name}", editorial_node_path(page.id)
        %td #{page.type}
        %td #{page.state}
        %td Author
