- breadcrumb :editorial_root

%h1 Editorial
%p
  = link_to('News', editorial_news_index_path)
  = link_to('Assets', editorial_assets_path)
  - if can? :create, :user
    = link_to('Create new user', new_editorial_user_path)

.ui.search
  %form
    %label{for: 'search'} Search
    %input#search.prompt{type: 'text', style: 'border-radius: 0'}
  .results


%h2 Sections
- if @sections.count == 0
  %p.callout
    You are not registered as a collaborator on any sections.
- else
  %ul
    - @sections.each do |section|
      %li
        = link_to(section.name, editorial_section_path(section))
        - if can? :create_in, section
          = link_to('Create new page', prepare_editorial_section_nodes_path(section))

%script{type: 'text/javascript'}
  var searchData = [
  - @sections.each do |section|
    {
    title: "#{section.home_node.name}",
    path: "#{section.home_node.path}",
    url: "#{editorial_section_path(section)}"
    },
  ];
