- breadcrumb :departments

= content_for :after_header do
  .hero-med.corporate
    .wrapper
      %h1
        Departments
      %p
        The Australian Government has 18 departments and 189 agencies.


%article.content-listing
  %ul.list-highlighted
    - departments.each do |department|
      %li
        %a{href:  public_node_path(department.home_node)}
          - if department.prefix.present?
            %span
              = department.prefix
          = department.title

        %p
          = department.home_node.short_summary

        - if department.agencies.any?
          %ul
            - department.agencies.each do |agency|
              %li= link_to(agency.name, public_node_path(agency.home_node))
