%article
  %h2= link_to article.name, public_node_path(article)
  %div.meta
    %time{ datetime: "#{article.release_date}" } #{l(article.release_date, format: :news)}
    %ul.publishers
      - article.publishers.each do |publisher|
        %li
          = link_to publisher.name, public_node_path(publisher.home_node), { rel: :author }
  - if article.short_summary.present?
    %p
      #{article.short_summary}
  - if article.related_topics.any?
    %footer
      %div.tags
        = render partial: 'templates/related_sections', locals: {node: article}
