= content_for :title do
  News

- if @section
  - breadcrumb :section_news_articles, @section

  = content_for :navbar do
    = render partial: 'application/navbar', locals: {menu_nodes: @menu_nodes, active: @section.news_node}

- else
  - breadcrumb :public_news_articles


= content_for(:after_header) do
  - if @section
    %div{class: "hero-sml #{hero_class(@section)}"}
      .wrapper
        %p
          = @section.name
  - else
    .hero-med
      .wrapper
        %h1 News
        %p
          Announcements, media releases, interviews, speeches and more from the Australian Government.

%article#content{class: "#{news_article_class}"}
  -# H1 not included in the hero bar for section news lists so include it here
  -# TODO: include a tagline/abstract once we know what it should be
  -# (may be section specific)
  - if @section
    %h1 News
  %ul.list-horizontal
    - articles.each do |article|
      %li
        %article
          %h3= link_to article.name, public_node_path(article)
          %div.meta
            %time{ datetime: "#{article.release_date}" } #{l(article.release_date, format: :news)}
            = link_to article.section.name, public_node_path(article.section.home_node), { rel: :author }
          %p
            #{article.short_summary}
          %footer
            = render partial: 'templates/related_sections', locals: {node: article}
