= content_for :header do
  %section
    .wrapper
      .home-header-content
        %a.govau--logo.home{href: '/'}
          = image_tag 'icons/gov-au-white-2x.png', alt: "GOV.AU crest logo"

        .homeintro
          %h1.is-visuallyhidden
            GOV.AU homepage
          %p
            Government websites in&nbsp;Australia
        = render 'feedback_link'


= content_for :after_header do
  .brandbar.default{class: sunstate_class}
    .b1
    .b2



= content_for :title do
  Sorry, something’s gone wrong

%article.content-main.callout--calendar-event
  %h1 Sorry, something’s gone&nbsp;wrong
  %p We’re working on the issue. Please wait a few minutes and then refresh the&nbsp;page. 
  %p
    %strong
      Error code: 500
