= content_for :header do
  %section
    .wrapper
      .home-header-content
        %a.govau--logo.home{href: '/'}
          = image_tag 'icons/gov-au-white-2x.png', alt: "GOV.AU crest logo"

        .homeintro
          %h1.is-visuallyhidden
            GOV.AU homepage
          %p
            A listing of websites for governments in&nbsp;Australia
        = render 'feedback_link'


= content_for :after_header do
  .brandbar.default{class: sunstate_class}
    .b1
    .b2


= content_for :title do
  Sorry, we can’t find the page you’re looking for

%article.content-main.callout--calendar-event
  %h1 Sorry, we can’t find the page you’re looking&nbsp;for
  %p The page might have been deleted, moved or it might not exist. Please check you’ve typed the right&nbsp;address.
  %p
    %a{href: '/'} Visit our home page
  %p
    %strong Error code: 404
