%article.sign-in
  %h1 Sign in
  %section.sign-in-form
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

      = devise_error_messages!

      %p
        = f.label :email, "Email address"
        = f.text_field :email

      %p
        = f.label :password
        = f.password_field :password

      .form-footer-actions
        .form-options
          - if devise_mapping.rememberable?
            .remember-me
              = f.check_box :remember_me, as: :boolean
              %label.checkbox{ :for => "user_remember_me" } Remember me

          %p
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to "Forgot password?", new_password_path(resource_name)

        %p
          = f.button :submit, "Sign in", role: 'button'

    .sign-in-footer-links
      - if devise_mapping.confirmable? && controller_name != 'confirmations'
        = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)

      %h2.background-border-heading
        %span.inner
          Or

      - if devise_mapping.registerable? && controller_name != 'registrations'
        = link_to "Sign up", new_registration_path(resource_name), :class => "primary-link"
