-# locals: content : RevisionContent, defaults : Hash
- if content.blank?
  %div
    none
- else
  %dl
    %dt Name
    %dd
      - if content[:name].nil?
        = defaults[:name]
      - else
        = content[:name]

    %dt Short summary
    %dd
      - if content[:short_summary].nil?
        none
      - else
        = content[:short_summary]

    %dt Summary
    %dd
      - if content[:summary].nil?
        none
      - else
        %div.content-block
          != markdown_content content[:summary]

    %dt Body
    %dd
      - if content[:content_body].nil?
        none
      - else
        %div.content-block
          != markdown_content content[:content_body]

    - content.optional_keys_in_order.each do |key|
      %dt= key.to_s.titleize
      %dd
        - if content[key].nil?
          none
        - else
          = content[key]
