-# locals: content : RevisionContent, node : Node
- if content.blank?
  %div
    none
- else
  %dl
    %dt Name
    %dd
      - if content[:name].nil?
        = node.name
      - else
        = content[:name]

    %dt Short summary
    %dd
      - if content[:short_summary].nil?
        none
      - else
        = content[:short_summary]

    %dt Summary
    %dd
      = render partial: 'rendered_content', object: RenderedContent.new(node, content[:summary], node.options.toc)

    %dt Body
    %dd
      = render partial: 'rendered_content', object: RenderedContent.new(node, content[:content_body], node.options.toc)

    - content.optional_keys_in_order.each do |key|
      %dt= key.to_s.titleize
      %dd
        - if content[key].nil?
          none
        - else
          = content[key]
