- breadcrumb :editorial_submission_new, @node

%h2 Submit changes to #{@node.name}

= render partial: 'editorial/nodes/editor_links'

.fieldset
  = simple_form_for [:editorial, @form], as: :node, url: editorial_node_submissions_path(node_id: @node), method: :post do |f|
    ~ f.input :content_body, as: :text, label: 'Body'
    = f.submit 'Submit for review'

= render partial: 'editorial/nodes/editor_injection'