- breadcrumb :editorial_submission, submission

%h1 Submission

%h2 Metadata

-# TODO: consider translating some of this to an event log
%table.content-table
  %thead
    %tr
      %th Name
      %th Value
  %tbody
    %tr
      %td Revises
      %td= link_to(submission.revisable.name, editorial_section_node_path(@section, submission.revisable))
    %tr
      %td State
      %td= t("submission.state.#{submission.state}")
    %tr
      %td Submitted by
      %td= submission.submitter_full_name
    %tr
      %td Submitted at
      %td= l(submission.submitted_at) unless submission.submitted_at.blank?
    %tr
      %td Reviewed by
      %td= submission.reviewer_full_name
    %tr
      %td Reviewed at
      %td= l(submission.reviewed_at) unless submission.reviewed_at.blank?

-# default to the published name if no name is set
- locals = {defaults: {name: submission.revisable.name}}

%h2 Original content
= render partial: 'content', object: submission.original_content, locals: locals

%h2 Submitted content
= render partial: 'content', object: submission.submitted_content, locals: locals

- if can_review?
  %h2 Review
  = simple_form_for @submission, url: editorial_section_submission_path(@section, submission) do |f|
    = f.button :button, 'Publish change', name: 'accept'
    = f.button :button, 'Reject change', name: 'reject'
