%h2 Submission to #{submission.revisable.name}
%h3 Submitted by: #{submission.submitter_full_name}
%h3 Submitted at: #{submission.submitted_at}
%h3 Original content
%p
  = submission.revisable.content_body
%h3 Submitted content
%p
  = submission.submitted_content.content_body
