- breadcrumb :category, @category

= content_for :title do
  = @category.name

= content_for :after_header do
  .hero-med.corporate
    .wrapper
      %h1= @category.name
      %p= @category.summary
      - if not @category.sections.empty?
        .links-group
          %h2 Popular now
          %ul
            - @category.sections.each do |section|
              - if not section.home_node.options.suppress_in_nav
                - if section.home_node.state.draft?
                  %li
                    %span.placeholder-link= section.name
                - else
                  %li=link_to(section.name, nodes_path(section.slug))

%article.content-main
  - @category.children.each do |subcategory|
    %h2= subcategory.name
    .accordion-group
      - subcategory.children.each_with_index do |leaf_category, index|
        %details{"data-label": "category-accordion-#{index}", :class => "swiss", "aria-expanded": "true", "open": ""}
          %summary= leaf_category.name
          .accordion-panel
            %ul
              - leaf_category.sections.each do |section|
                - if not section.home_node.options.suppress_in_nav
                  - if section.home_node.state.draft?
                    %li
                      %span.placeholder-link= section.name
                  - else
                    %li=link_to(section.name, nodes_path(section.slug))
