<head>
  <meta name="google-site-verification" content="ElWu_73bfZc6KNBz9zMj5KnNA8U7kj9r3hPoojmIZqc" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="<%= yield :meta_description %>">
  <!-- Social/unfurl  http://ogp.me/ , https://dev.twitter.com/cards/types/summary-->
  <meta property="og:locale" content="en_AU" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:type" content="Website" />
  <meta property="og:image" content="<%= image_url("govau-unfurl.png") %>" />
  <meta property="og:url" content="<%= url_for(only_path: false) %>" />
  <meta property="og:description" content="<%= yield :meta_description %>" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="<%= yield :meta_description %>" />
  <meta name="twitter:title" content="<%= title %>" />
  <meta name="twitter:site" content="@DTO" />
  <meta name="twitter:image" content="<%= image_url("govau-unfurl.png") %>" />

  <script>
    (function (h) {
    h.className = h.className.replace('no-js', 'js')
    })(document.documentElement)
  </script>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/corysimmons-selectivizr2/1.0.8/selectivizr2.min.js"></script>
  <![endif]-->
  <!--[if lte IE 9]>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'></script>
  <![endif]-->

  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'fonts', 'data-turbolinks-track': 'reload', async: Rails.env.production? %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: Rails.env.production? %>
</head>
