<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    (function (h) {
    h.className = h.className.replace('no-js', 'js')
    })(document.documentElement)
  </script>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'fonts', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>