%ul.secondary-controls
  - if node && node.section
    %li
      = link_to 'View in editorial', editorial_section_node_path(node.section, node)

  - if show_new_page_link?
    %li
      = link_to 'New page', prepare_editorial_section_nodes_path(@section, parent_id: @node)

  -if show_edit_page_link?
    %li
      - if @node.submissions.open.present?
        - if @node.submission_exists_for?(current_user)
          = link_to 'View submission', editorial_section_submission_path(@section, @node.submissions.open.for(current_user).last)
        - else
          = link_to "Open submission (#{@node.submissions.last.submitter.email})", editorial_section_submission_path(@section, @node.submissions.open.last)
      - else
        = link_to 'Edit', new_editorial_section_submission_path(@section, node_id: @node)
    %li
      = link_to 'Edit metadata', edit_editorial_section_node_path(@section, @node)

  - if show_request_controls?
    - if current_user.pending_request_for?(@section)
      %li.secondary-controls= link_to 'Membership requested', editorial_section_request_path(@section, current_user.pending_request_for(@section))
    - else
      %li.secondary-controls= link_to 'Request membership', new_editorial_section_request_path(@section)