%div.controls--contrast
  %div.wrapper
    %section.left
      %nav.controls
        %p.inline-links--inverted
          = link_to('Editorial', editorial_root_path)
          - if @section
            %b  /
            = link_to @section.name, editorial_section_path(@section)
        = yield :toolbar_actions

    %section.right
      %ul.inline-links--inverted
        %li
          %i.fa-user.fa
          = #{current_user.full_name}
        %li= link_to('Sign out', destroy_user_session_path, method: :delete)


