.controls--contrast
  .wrapper
    %section.left
      %nav.controls
        %header
          = link_to(editorial_root_path) do
            = image_tag('icons/editor.png')
            %h1 Editor
            %span Dashboard
    
        %ul
          %li.dropdown
            %a(href="#")
              = image_tag('icons/human-small.png', alt: 'User Menu')
            %ul
              %li
                = link_to edit_user_registration_path do
                  = image_tag('icons/cog.png', alt: 'User Settings')
                  = decorated_current_user.display_name
              %li.highlight= link_to('Sign out', destroy_user_session_path, method: :delete)

    %section.right
      = yield :toolbar_actions


