= content_for :title do
  = "Update a asset"

- breadcrumb :new_asset

%h1 Update a asset
%p Update an image for use on GOV.AU

%div.form_wrapper
  = simple_form_for ([:editorial, @form]) do |f|
    = f.input :alttext, label: "Alternative text for this image"
    = f.button :button, 'Create asset'