= content_for :title do
  = "Assets"

- breadcrumb :assets

%h1 Assets

%a{href: new_editorial_asset_path, role: 'button'}
  Upload an image for use on GOV.AU

- @assets.each do |asset|
  %ul.list-horizontal
    %li
      %figure
        = image_tag asset.asset_file.url(:thumb)
      %article
        %h3
          =asset.asset_file_file_name
        %br
        %b
          Markdown:
        = "{% image #{asset.asset_file_fingerprint} %}"
        %b
          Alternative Text:
        = asset.alttext
        %br
        = link_to('Edit Asset', edit_editorial_asset_url(asset))

=paginate @assets