= content_for(:after_header) do
  %div{class: "hero-med"}
    .wrapper
      %h1 Your feedback


%article#content.content-main.form_wrapper{tabindex: -1}
  %p
    Help us improve GOV.AU by telling us what you were trying to do and what happened.
  = simple_form_for(@form, url: feedback_path) do |f|
    %p= f.error :comment, error: 'Your comment can\'t be blank'
    = f.input :comment, as: :text, error: false
    = f.hidden_field :url
    = f.button :submit, 'Send feedback', role: 'button'
