!!! 5

%html.js{lang: "en-au"}
  = render 'application/head', title: 'GovAuBeta'
  %body
    %div.skip-to
      %a{href: "#content"}
        Skip to main content
    %header{role: 'banner'}
      = render 'application/signed_in_nav' if user_signed_in?
      %section.prerelease-govau--header
        - if content_for?(:header)
          = yield(:header)
        - else
          .wrapper
            .govau--logo
              = image_tag 'logo-govau-full-2x.png', width: '205'
              .brandbar.default
                .b1
                .b2
            = #render partial: 'feedback_and_menu'

          %nav.breadcrumbs--inverted{'aria-label' => 'breadcrumb'}
            .wrapper
              = breadcrumbs style: :ul, class: nil

    = yield(:after_header)

    %main
      - if content_for?(:navbar)
        = yield :navbar
      = render 'application/alerts'
      = yield
    %footer{role: "contentinfo"}
      .wrapper
        %section.footer-top
          %nav
            %ul
              %li
                %h3 Stuff
              %li= link_to 'News', news_articles_path
              %li Contact us
              %li
                %a{href: '/departments'} Departments and agencies
            %ul
              %li
                %h3 Things
              %li
                %a{href: '/department-of-communications-and-the-arts'} Department of Communications and the Arts
              %li
                %a{href: '/minister-for-communications'} Minister for Communications
            %ul
              %li
                %h3 Other things
              %li
                %a{href: '/television-tv-reception'} Television reception
              %li
                %a{href: '/ministers'} Ministers
            %ul
              %li
                %h3 More stuff
              %li Prototype directory

        %section.footer-bottom
          %figure
            = image_tag 'coatofarms-01.svg', alt: 'Australian Government Coat of Arms', class: 'footer-logo'
          .footer-links
            %nav
              %ul
                %li
                  %a{href: 'javascript:void(0)'} About
                %li
                  %a{href: 'javascript:void(0)'} Accessibility
                %li
                  %a{href: 'javascript:void(0)'} Copyright
                %li
                  %a{href: 'javascript:void(0)'} Help
                %li
                  %a{href: 'javascript:void(0)'} Site map
                %li
                  %a{href: 'javascript:void(0)'} Terms of use
              %p
                &copy; Commonwealth of Australia <br>
                %a{href:'https://github.com/AusDTO/gov-au-ui-kit/blob/master/LICENSE.md'} Licensed under the MIT License.
