!!! 5
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]>
<html lang="en-AU" class="ie6 no-js">    <![endif]-->
<!--[if IE 7 ]>
<html lang="en-AU" class="ie7 no-js">    <![endif]-->
<!--[if IE 8 ]>
<html lang="en-AU" class="ie8 no-js">    <![endif]-->
<!--[if IE 9 ]>
<html lang="en-AU" class="ie9 no-js">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-AU" class="no-js"><!--<![endif]-->

= render 'application/head',  title: (content_for?(:title) ? "#{yield(:title)} | GOV.AU" : 'GOV.AU' )
%body{data: { 'ga-id' => ENV['GA_TRACKING_ID'] }}
  = render 'application/google_tag_manager'

  %div.skip-to
    %a{href: "#content"}
      Skip to main content

  = render 'application/signed_in_nav' if user_signed_in?

  %div.govau-header-row
    %div.wrapper
      - if content_for?(:header)
        = yield(:header)
      - else
        / no header set
  .brandbar.default
    .b1
    .b2

  -# TODO: Move this aria role to %main and move the hero into the correct aria landmark once ui-kit resolves
  -# https://github.com/AusDTO/gov-au-ui-kit/issues/313
  %div.govau-content-row{role: 'main'}
    = yield(:after_header)

    %main
      - if content_for?(:navbar)
        = yield :navbar
      = render 'application/alerts'
      = yield

  %div.govau-footer-row
    %footer{role: "contentinfo"}
      .wrapper
        -# Feedback section
        = render 'feedback_bar'

        -#Normal footer section
        %section
          .footer-logo
            = image_tag 'coat-of-arms.png', alt: 'Australian Government Coat of Arms'
          .footer-links
            - unless ported_pages.blank?
              %nav
                %ul
                  - ported_pages.each do |page|
                    %li= link_to(page.name, nodes_path(page.slug))
                  %li= link_to('Feedback', '/feedback/new')
            -#- if about_section
            -#  %nav
            -#    %ul
            -#      %li
            -#        =link_to(about_section.name, nodes_path(about_section.slug))
            -#      - about_section.children.published.reject{|n| n.options.suppress_in_nav}.each do |node|
            -#        %li
            -#          %a{ href: public_node_path(node)}
            -#            = node.name

            %p
              &copy; Commonwealth of Australia
              %br
              %a{href:'http://creativecommons.org/licenses/by/3.0/au/'} This work is licensed under a Creative Commons Attribution 3.0 International License

</html>
