!!! 5

%html.js{lang: "en-au"}
  = render 'application/head', title: 'GovAuBeta'
  %body
    %div.skip-to
      %a{href: "#content"}
        Skip to main content
    %header{role: 'banner'}
      = render 'application/signed_in_nav' if user_signed_in?
      %section.govau--header
        .wrapper
          .govau--logo
            %a.logo{href: root_path}
              gov.au
            %span.badge--beta beta
      %nav.breadcrumbs{'aria-label' => 'breadcrumb'}
        .wrapper
          = breadcrumbs style: :ul, class: nil
      - if content_for?(:header)
        %section.hero
          .wrapper= yield(:header)

    %main
      - if content_for?(:navbar)
        = yield :navbar
      = render 'application/alerts'
      = yield
    %footer{role: "contentinfo"}
      .wrapper
        %span
          - unless user_signed_in?
            = link_to('Sign in', new_user_session_path)
