!!! 5

%html.js
  = render 'application/head', title: 'GovAuBeta'
  %body
    %div.skip-to
      %a{href: "#content"}
        Skip to main content
    %header{role: 'banner'}
      = render 'application/signed_in_nav' if user_signed_in?
      %section.govau--header
        .wrapper
          .govau--logo
            %a.logo{href: root_path}
              gov.au
            %span.badge--beta beta

      - if content_for?(:header)
        %section.hero
          .wrapper= yield(:header)

    %nav.breadcrumbs{'aria-label' => 'breadcrumb'}
      .wrapper
        = breadcrumbs style: :ul, class: nil

    %main
      - if content_for?(:navbar)
        = yield :navbar
      %article#content{class: "content-main"}
        = render 'application/alerts'
        = yield
    %footer{role: "contentinfo"}
      .wrapper
        %span
          - unless user_signed_in?
            = link_to('Sign in', new_user_session_path, style: 'color:#fff;') # TODO: No styles for links in footer in UI Kit yet
