<!DOCTYPE html>
<html>
  <%= render 'head', title: 'GovAuBeta' %>
  <body>
    <%= render 'toolbar' %>
    <%= render 'session_status' %>
    <%= render 'alerts' %>
    <%= content_for?(:header) ? yield(:header) : '' %>
    <%= yield %>
  </body>
</html>
