<!DOCTYPE html>
<html>
  <head>
    <title>GovAuBeta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'toolbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= content_for?(:header) ? yield(:header) : '' %>
    <%= yield %>
  </body>
</html>
