!!! 5

%html.js
  = render 'head', title: (content_for?(:title) ? "#{yield(:title)} | GOV.AU Collaboration" : 'GOV.AU Editorial' )
  %body
    %header{role: 'banner', class: 'navigation'}
      = render 'application/signed_in_nav'
      %section.govau--header
        %div.wrapper
          %div.govau--logo
            %a.logo(href="/")
              gov.au
            %span.badge--beta beta

      - if content_for?(:header)
        %section.hero
          .wrapper= yield(:header)

    %nav.breadcrumbs{'aria-label' => 'breadcrumb'}
      .wrapper
        = breadcrumbs style: :ul, class: nil

    %main
      - if content_for?(:navbar)
        %aside.sidebar
          %nav.primary-nav{'aria-label' => 'main navigation'}
            = yield :navbar
      %article#content{class: "content-main", role: "main"}
        = render 'alerts'
        = yield
    %footer{role: "contentinfo"}
      %div.wrapper
        %p
          - if @version_tag.present?
            #{@version_tag}:
          - if @version_sha.present?
            #{@version_sha}

