!!! 5

%html
  = render 'head', title: 'GovAuBeta: Collaboration'
  %body
    %header{role: 'banner'}
      %section.govau--header
        %div.wrapper
          %div.govau--logo
            %a.logo
              gov.au
            %span.badge--beta beta

      %section.hero
        %div.wrapper
          %a.site-title
            GOV.AU Beta: Collaboration

    %main
      = render 'navbar'
      %article
        = render 'session_status'
        = render 'alerts'
        = yield
    %footer{role: "contentinfo"}
      %div.wrapper
        %p
          &lt;insert footer here&gt;
