= inside_layout 'editorial' do
  = content_for :navbar do
    %ul
      %li= link_to('Submissions', editorial_section_submissions_path(@section))
      %li= link_to("Pages", editorial_section_path(@section))
      %li= link_to("Collaborators", editorial_section_collaborators_path(@section))

  = yield
