= inside_layout :application do
  = yield

  = content_for :after_header do
    %div{class: "hero-sml #{hero_class(@section)}"}
      .wrapper
        %p
          = @section.name

  = content_for :toolbar_actions do
    = render partial: 'application/page_actions', locals: {section: @section, node: @node}

  = content_for :meta_description do
    - if node.short_summary
      = content_for :meta_description do
        = node.short_summary