= inside_layout :application do
  %article#content{class: "content-main", tabindex: -1}
    = yield

  = content_for :title do
    = @node.name

  = content_for :toolbar_actions do
    = render partial: 'application/page_actions', locals: {section: @section, node: @node}

  = content_for :meta_description do
    - if node.short_summary
      = content_for :meta_description do
        = node.short_summary
