= inside_layout :application do
  = yield

  = content_for :header do
    .wrapper

      .govau--logo.home
        = image_tag 'icons/logo-crest-2x.png', width: '65'
      .feedback{tabindex:1}
        %a.button--feedback{href:ENV.fetch('FEEDBACK_URL','')+request.url, role:"button"}
          Feedback
      .homeintro
        %h1
          %span.govau--text{class: sunstate_class}
          %span.is-visuallyhidden
            GOV.AU homepage
        %p
          Your guide to finding Australian Government services and information.

      .links-group
        %h2 Popular now
        %ul
          %li
            = link_to 'Public holiday dates', '/times-and-dates/australian-public-holidays'
          %li
            = link_to 'Lodge your tax return', '#'
          %li
            = link_to 'Working in Australia', '#'
          %li
            = link_to 'Visiting Australia', '#'
          %li
            = link_to 'Elections', '#'
          %li
            = link_to 'Citizenship', '#'
          %li
            = link_to 'School holiday dates', '/times-and-dates/school-holidays-and-term-dates'
          %li
            = link_to 'Government jobs', '#'


  - if node.short_summary
    = content_for :meta_description do
      = node.short_summary

  = content_for :after_header do
    .brandbar.default{class: sunstate_class}
      .b1
      .b2
