= inside_layout :application do
  = yield

  = content_for :header do
    .wrapper
      .govau--logo
        = image_tag 'logo-crest-2x.png', width: '65'
      = #render partial: 'feedback_and_menu'
      .homeintro
        %h1
          %span.govau--text{class: sunstate_class}
          %span.is-visuallyhidden
            GOV.AU homepage
        %p
          Your guide to finding and using Australian Government services.
      .links-group
        %h2 Popular links
        %ul
          %li
            = link_to 'Public Holiday dates', '/times-and-dates/australian-public-holidays'
          %li
            = link_to 'Lodge your tax return', '#'
          %li
            = link_to 'Working in Australia', '#'
          %li
            = link_to 'Visiting Australia', '#'
          %li
            = link_to 'What can you bring to Australia', '#'
          %li
            = link_to 'Citizenship', '#'
          %li
            = link_to 'School Holiday dates', '/times-and-dates/school-holidays-and-term-dates'
          %li
            = link_to 'Government Jobs', '#'


  - if node.short_summary
    = content_for :meta_description do
      = node.short_summary

  = content_for :after_header do
    .brandbar.default{class: sunstate_class}
      .b1
      .b2