= inside_layout :application do
  = yield

  = content_for :header do
    %section
      //.prerelease-govau--header.home
      .wrapper

        .home-header-content
          .govau--logo.home
            %a{href: '/'}
              = image_tag 'icons/gov-au-white-2x.png', alt: "GOV.AU crest logo"

          .homeintro
            %h1.is-visuallyhidden
              GOV.AU homepage
            %p
              A listing of websites for governments in&nbsp;Australia
          = render 'feedback_link'
      .brandbar.default{class: sunstate_class}
        .b1
        .b2

  = content_for(:meta_description, "A listing of websites for governments in Australia")
