= inside_layout :application do
  %article#content{class: "content-main", tabindex: -1}
    = yield

  = content_for :header do
    %section
      //.prerelease-govau--header.home
      .wrapper

        .home-header-content
          %a.govau--logo.home{href: '/'}
            = image_tag 'icons/gov-au-white-2x.png', alt: "GOV.AU crest logo"

          .homeintro
            %h1.is-visuallyhidden
              GOV.AU homepage
            %p
              A listing of websites for governments in&nbsp;Australia
          = render 'feedback_link'

  = content_for :after_header do
    .brandbar.default{class: sunstate_class}
      .b1
      .b2

  = content_for :after_header do
    %div{class: "hero-med #{hero_class(@section)}"}
      .wrapper
        %h1
          = @section.name

  - if node.short_summary
    = content_for :meta_description do
      = node.short_summary

  = content_for :toolbar_actions do
    = render partial: 'application/page_actions', locals: {section: @section, node: @node}



  = content_for :navbar do
    = render partial: 'application/navbar', locals: {menu_nodes: @menu_nodes, active: @node}
