= inside_layout :application do
  = yield

  = content_for :header do
    %a.site-title{href: nodes_path(@section.home_node.path)}= @section.name

  = content_for :toolbar_actions do
    / TODO: Cleanup (perhaps in https://govausites.atlassian.net/browse/SITES-168)

    = render partial: 'application/page_actions', locals: {section: @section, node: @node}

    - if show_request_controls?
      - if current_user.pending_request_for?(@section)
        %li= link_to 'Membership requested', editorial_section_request_path(@section, current_user.pending_request_for(@section))
      - else
        %li= link_to 'Request membership', new_editorial_section_request_path(@section)



  = content_for :navbar do
    = render partial: 'application/navbar', locals: {menu_nodes: @menu_nodes, active: @node}
